/* .tool-ul {
  list-style: none;
  padding-left: 0px;
} */

.projectTitle {
  margin-top: 50px;
  text-align: center;
}

.projectTitle h1 {
  text-transform: uppercase;
}

.project-text {
  text-align: justify;
  text-justify: inter-word;
}

.tech-icon {
  max-height: 50px;
  max-width: 50px;
  padding-right: 5px;
}

.sideBar li {
  text-decoration: none;
  display: inline-block;
  color: #d8d8d8;
  margin-top: 20px;
}

/* Responsive Youtube */

.video-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.video-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.project-hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
