/*
* Nahida Islam
* Design inspired by Lucas Ahlgren
*/

html {
  font-size: 16px;
}

* {
  /* font-family: sans-serif; */
  color: black;
}

body {
  overflow-x: hidden;
}

h1 {
  color: #60ffe1;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

h2 {
  padding: 20px 0 0 0;
  font-size: 1.6rem;
  font-weight: bold;
  color: #60ffe1;
}
h3 {
  font-size: 1rem;
  color: #b3b04f;
  margin: auto;
}
h4 {
  font-size: 1.5rem;
  color: #60ffe1;
}

p {
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #d8d8d8;
  margin: auto;
}
q {
  line-height: 1.5;
  color: #d8d8d8;
  font-style: italic;
}

a {
  color: white;
}

.main-container {
  padding: 20px 0;
  opacity: 0;
  min-height: 100vh;
}

.container {
  padding-top: 120px;
}

a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.justify {
  text-align: justify;
  text-justify: inter-word;
}

/*button*/
.button {
  display: inline-flex;
  height: 35px;
  width: 150px;
  border: 1.5px solid #60ffe1;
  border-radius: 25px;
  color: #bfc0c0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.9em;
  letter-spacing: 0.15em;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* font-weight: bold; */
}

.button a {
  color: #bfc0c0;
  text-decoration: none;
  letter-spacing: 1px;
}

#contact-btn {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin: 20px 0 20px 0;
}

#contact-btn a {
  position: relative;
  transition: all 0.45s ease-Out;
}

#circle {
  width: 0%;
  height: 0%;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  background: #60ffe1;
  position: absolute;
  transition: all 0.5s ease-Out;
  top: 20px;
  left: 70px;
}

#contact-btn:hover #circle {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -70px;
  left: -70px;
}

#contact-btn:hover a {
  color: #101318;
  text-decoration: none;
}

/* Animations
==================================================*/

.pageHeader,
.projectTitle {
  -webkit-animation: intro 0.6s normal forwards;
  animation: intro 0.6s normal forwards;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
}
.main-container {
  -webkit-animation: fade-in 0.7s normal forwards;
  animation: fade-in 0.7s normal forwards;
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
#home {
  -webkit-animation: fade-in 0.5s normal forwards;
  animation: fade-in 0.5s normal forwards;
}

/* Keyframes */

@-webkit-keyframes intro {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 60px, 0);
    transform: translate3d(0, 60px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes intro {
  0% {
    -webkit-transform: translate3d(0, 60px, 0);
    transform: translate3d(0, 60px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fade-in {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}

/* CSS Transition group */

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  -webkit-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
  -webkit-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  -webkit-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
}

div.transition-group {
  position: relative;
}
section.route-section {
  position: absolute;
  width: 100%;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

/* Media queries
==================================================*/

@media only screen and (max-width: 767px) {
  .section-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  html {
    font-size: 13px;
  }
}

@media only screen and (max-width: 520px) {
  .main-container {
    padding: 50px 0 20px 0;
  }
}
