/* Footer
==================================================*/

footer {
  padding: 10px 0;
  text-align: center;
  background: #101318;
}

.copyright {
  margin-bottom: 0;
  font-size: 14px;
}

.copyright a {
  color: #b3b04f;
}
